<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Delivery_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Delivery_Check.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Delivery_Check.Properties.Settings>
      <setting name="whatIsIt" serializeAs="String">
        <value>TbriBASr9Fx1l81FrTzYNe8IkRrrHjjRKOZulQU0b1Lqqf9iVdavT9WEGxrRGlS755m1fpgr6aBa9X1pajXTJaeJfrs30fZzGV+JZsmL5ypoXzxfaaYofkDAxdykBR8IUK7zMLbkWp57h8ONCd/B4WcwMCg96NSPB6J1AB4xq7OdxwwE8A7sPj+26cvEc3xLv4462llMmPpjuBIy3iNUXw==</value>
      </setting>
      <setting name="toIsIt" serializeAs="String">
        <value>zIiinkA3vgGy4LgF8bso8ALoWk0gZiJuP0BAshFiz4cGHJenc80fjl9JEDAqwjaNUFlvd81UhozgHQ2QLpmmGcIGfEEYTGUDEpgN</value>
      </setting>
    </Delivery_Check.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Delivery_Check.Properties.Settings>
      <setting name="succeeded" serializeAs="String">
        <value>128, 255, 128</value>
      </setting>
      <setting name="latecomer" serializeAs="String">
        <value>255, 90, 90</value>
      </setting>
      <setting name="encryptUser" serializeAs="String">
        <value>zIiinkA3vgGy4LgF8bso8ALoWk0gZiJuP0BAshFiz4cGHJenc80fjl9JEDAqwjaNUFlvd81UhozgHQ2QLpmmGcIGfEEYTGUDEpgNTbriBASr9Fx1l81FrTzYNe8IkRrrHjjRKOZulQU0b1Lqqf9iVdavT9WEGxrRGlS755m1fpgr6aBa9X1pajXTJaeJfrs30fZzGV+JZsmL5ypoXzxfaaYofkDAxdykBR8IUK7zMLbkWp57h8ONCd/B4WcwMCg96NSPB6J1AB4xq7OdxwwE8A7sPj+26cvEc3xLv4462llMmPpjuBIy3iNUXw==</value>
      </setting>
    </Delivery_Check.Properties.Settings>
  </userSettings>
</configuration>